 new file:   .guides/img/image42.png
        new file:   .guides/img/image47.png
        new file:   .guides/img/image48.png
        new file:   .guides/img/image65.png
        new file:   .guides/img/image68.png
        new file:   .guides/img/image75.png
        new file:   .guides/img/image88.png

Untracked files: